/* File path: /workspace/fun-gym/assets/css/style.css */

/* Lato and Open Sans fonts imported from Google Fonts here: https://fonts.google.com/specimen/Open+Sans */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    font-family: Lato, sans-serif;
    color: #777777;
    background-color: #252525;

}

/* headings and logo */

html,
body.header.nav.topnav {
    background: #252525;

}


h1,
h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

h1 {
    color: #e10a0a;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;

}

/* navigation links */

#icon-bar {
    font-size: 110%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#logo,
#icon-bar {
    line-height: 75px;
}

#icon-bar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#icon-bar a {
    text-decoration: none;
    color: #fafafa;
}

#icon-bar a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../img/fungym-hero.png") no-repeat center center;


    /* Animates zoom effect on loading the page */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,
#cover-text h2 {
    color: #fafafa;
}

#cover-text {
    font-size: 130%;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 600px;
    height: 170px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: #dd7474a6;
    right: 200px;
    top: 60%;
    position: absolute;

}

/* Creates the button  on text image fot join now */

.btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -10%);
    -ms-transform: translate(-50%, -40%);
    background-color: #333333;
    color: #e10a0a;
    font-size: 65%;
    text-transform: uppercase;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
}

.btn:hover {
    background-color: #e10a0a;

    color: #fafafa;
}

/* Footer */

footer {
    height: 150px;
}

.social-media-links {
    text-align: center;

}

.social-media-links li {
    display: inline;
}

.social-media-links i {
    font-size: 160%;
    margin: 2%;
    padding: 5%;
    color: #fafafa;
}

.social-media-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-media-links li a i:hover {
    background: #e10a0a;

}

.copy-rights {
    color: #fafafa;
}

#fungym-corights-col {

    color: #e10a0a;

}