/* File path: /workspace/fun-gym/assets/css/style.css */

/* Lato and Open Sans fonts imported from Google Fonts here: https://fonts.google.com/specimen/Open+Sans */
/* ilovewp served as a reference when choosing the font type*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Design a Responsive Grid-View */

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}


html,
body {
    font-family: Lato, sans-serif;
    color: #fafafa;
    background-color: #252525;

}

/* headings and logo */

html,
body.header.nav.topnav {
    background: #252525;

}


h1,
h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fafafa;
}

h1 {
    color: #e10a0a;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#icon-bar {
    font-size: 110%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#logo,
#icon-bar {
    line-height: 75px;
    margin: 0px;
}

#logo {
    margin-left: 30px;
}

#icon-bar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#icon-bar a {
    text-decoration: none;
    color: #fafafa;
}

#icon-bar a:hover {
    border-bottom: 1px solid #e10a0a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../img/fungym-hero.png") no-repeat center center;


    /* Animates zoom effect on loading the page */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,
#cover-text h2 {
    color: #fafafa;
}

#cover-text {
    font-size: 130%;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 600px;
    height: 170px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: #dd7474a6;
    right: 200px;
    top: 60%;
    position: absolute;

}

/* Creates the button  on text image for join now */

.btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -10%);
    -ms-transform: translate(-50%, -40%);
    background-color: #333333;
    color: #e1dc0a;
    font-size: 85%;
    text-transform: uppercase;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
}


.btn:hover {
    background-color: #e10a0a;

    color: #fafafa;
}


/* five excellent missions in a fun gym from the left to right */

#club-ethos {
    height: 600px;
    position: relative;
}

#welcome {
    text-align: center;
}

#welcome-part-2 {
    margin: auto;
    padding: 30px 0;
    margin-top: -30px;
    text-align: center;
}



#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    float: left;
    height: 100%;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 60px;
    letter-spacing: 2px;
    font-size: 120%;
}

.right-about-heading {
    width: 75%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 60px;
    letter-spacing: 2px;
    font-size: 120%;
}


.center-about-heading {
    position: absolute;
    width: 38%;
    font-size: 120%;
    line-height: 20px;
    letter-spacing: 4px;
    text-align: center;
    top: 55%;
    clear: both;
    left: 50%;
    transform: translate(-50%, -10%);
    -ms-transform: translate(-50%, -40%);
    padding: 20px 30px;

}


/* fun gym high-five image for its five extraordinary exclusive missions */

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: double;
    border-color: #252525;
    border-width: 1px;
    border-radius: 500%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url("../img/fungym-highfive-5missions.png") no-repeat center center;
    height: 90%;
    border-radius: 50%;
}

/*  links decoration for its five extraordinary exclusive missions */

#five-topic-click {

    text-transform: capitalize;
    text-decoration: none;
    color: #e1be0af0;

}

#five-topic-click a:hover {
    border-bottom: 1px solid #fafafa;
}


.btn-high-five {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    -ms-transform: translate(-50%, -40%);
    background-color: #333333;
    color: #29e014;
    font-size: 100%;
    text-transform: uppercase;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
}


.btn-high-five:hover {
    background-color: #e10a0a;

    color: #fafafa;
}


/* Three info parts */

#part-1 {
    background-image: url("../img/fungym-part-1.png");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 53%;
    width: 90%;
    overflow: hidden;
    padding-left: 30px;
    margin-left: 30px;

}

#part-1 div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .4);
    width: 50%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#part-1 h2 {
    color: #fafafa;
}

#part-2 {
    background-image: url("../img/fun-gym-part-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100%;
    width: 100%;
    overflow: hidden
}

#part-2 div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .65);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#part-2 h2 {
    color: #fafafa;
}


#part-3 div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .65);
    width: 50%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    position: relative;
}

#part-3 h2 {
    color: #fafafa;
}

#map {
    background-image: url("../img/fungym-map.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100%;
    width: 100%;
    overflow: hidden;

}

#map {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .65);
    width: 100%;
    height: 250px;
    float: right;
    padding: 30px 0 0 30px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}


#map-1 {
    color: #252525;
    float: right;
    padding-right: 32%;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 12%;
}

/* Footer */

footer {
    height: 470px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#welcome-footer {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #e1be0af0;
    text-align: center;
}

h4 {
    margin-left: 30px;
}

#footer-details a {
    text-decoration: none;
    color: #fafafa;
}


#footer-details a:hover {
    border-bottom: 1px solid #e1dc0a;
}

.social-media-links {
    text-align: center;
}

.social-media-links li {
    display: inline;
}

.social-media-links i {
    font-size: 160%;
    margin: 2%;
    padding: 5%;
    color: #fafafa;
}

.social-media-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #1328e0;
    background: #e1be0af0;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-media-links li a i:hover {
    background: #e10a0a;
}

/* copy rights and the country-flag */

h5 {
    height: 100px;
    width: 100%;
    background: url("../img/uk-flag.png") no-repeat;
    overflow: hidden;
    background-size: 90px 60px;
}


.copy-rights {

    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-left: 5px;
    color: #fafafa;
    font-weight: 400;
    font-size: 14px;
    margin-top: 6px;
    line-height: 35px;
    position: relative;
    float: left;
}

#flag {

    position: absolute;
    top: 70%;
    left: 48%;
    transform: translate(-50%, -70%);
    -ms-transform: translate(-30%, -50%);
    margin-left: 5%;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-image-width: 20%;
    padding-bottom: 50px;
}

.uk-flag {
    background-position: left;
    background-position-y: bottom;
}


/* Adjust the colour contrast for accessibility */

/* download icon - checked with google dev tool*/


/* back to top, Wave verified that*/
#btt-colour {
    color: #98BFE1;
}





/* Form */

.form-section {
    clear: left;
    background: url();
    background-size: cover;
    background-position: center;
    height: 300px;
}

.signup-form {
    margin-top: 150px;
    margin-bottom: 150px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    padding: 30px;
    float: right;
    margin-right: 40%;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}




/* Media queries */


/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/* For large to medium screens sizes from 1280px wide and down */

@media screen and (max-width: 1280px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    #left-about,
    #right-about {
        width: 100%;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
        height: 50%;
    }


    .left-about-heading {
        float: right;
        line-height: 20px;
        clear: both;
        margin-bottom: 50px;
        letter-spacing: 2px;
        font-size: 120%;
    }

    .right-about-heading {
        float: left;
        line-height: 20px;
        clear: both;
        margin-bottom: 50px;
        letter-spacing: 2px;
        font-size: 120%;
    }



    #part-1 div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
        border-style: solid;
        border-bottom-width: 1px;


    }

    #part-2 div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    #part-3 div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    #map {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/* For large to medium screens sizes from 1024px wide and down */







/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #icon-bar {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0px;
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px 0 20px;
    }


}

#welcome-part-2 {
    position: absolute;
    right: 38%;
    bottom: px;
}

/* For medium screens sizes from 820px wide and down */




/* For medium screens sizes from 768px wide and down */

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}


/* For medium screens sizes from 600px wide and down */





/* For medium screens sizes from 540px wide and down */




/* For medium screens sizes from 480px wide and down */






/* For medium screens sizes from 400px wide and down */







/* For medium screens sizes from 360px wide and down */








/* For medium screens sizes from 320px wide and down */





/* For medium screens sizes from 280px wide and down */





/* -----------------------------------------------------------------Contact Form */