/* File path: /workspace/fun-gym/assets/css/style.css */

/* Lato and Open Sans fonts imported from Google Fonts here: https://fonts.google.com/specimen/Open+Sans */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    font-family: Lato, sans-serif;
    color: #fafafa;
    background-color: #252525;

}

/* headings and logo */

html,
body.header.nav.topnav {
    background: #252525;

}


h1,
h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fafafa;
}

h1 {
    color: #e10a0a;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;

}

/* navigation links */

#icon-bar {
    font-size: 110%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#logo,
#icon-bar {
    line-height: 75px;
}

#icon-bar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#icon-bar a {
    text-decoration: none;
    color: #fafafa;
}

#icon-bar a:hover {
    border-bottom: 1px solid #e10a0a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../img/fungym-hero.png") no-repeat center center;


    /* Animates zoom effect on loading the page */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,
#cover-text h2 {
    color: #fafafa;
}

#cover-text {
    font-size: 130%;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 600px;
    height: 170px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: #dd7474a6;
    right: 200px;
    top: 60%;
    position: absolute;

}

/* Creates the button  on text image for join now */

.btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -10%);
    -ms-transform: translate(-50%, -40%);
    background-color: #333333;
    color: #e1dc0a;
    font-size: 85%;
    text-transform: uppercase;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
}


.btn:hover {
    background-color: #e10a0a;

    color: #fafafa;
}


/* five excellent missions in a fun gym from the left to right */

#club-ethos {
    height: 600px;
    position: relative;

}

#welcome {
    margin: 30px 0;
    text-align: center;
    font-size: 280%;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    letter-spacing: 2px;
    font-size: 120%;
    text-align: justify;

}

.right-about-heading {
    width: 75%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    letter-spacing: 2px;
    font-size: 120%;
}

.right-about-heading p {
    text-align: justify;
}

.right-about-heading h2 {
    text-align: justify;
}


.center-about-heading {
    width: 450px;
    height: 300px;
    padding: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    clear: both;
    margin: 0 auto;
    position: absolute;
    top: 55%;
    left: 35%;
    font-size: 120%;
    text-align: justify;
}



/* fun gym high-five image for its five extraordinary exclusive missions */

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: double;
    border-color: #252525;
    border-width: 1px;
    border-radius: 500%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url("../img/fungym-highfive-5missions.png") no-repeat center center;
    height: 90%;
    border-radius: 50%;
}

/*  links decoration for its five extraordinary exclusive missions */

#five-topic-click {

    text-transform: capitalize;
    text-decoration: none;
    color: #e1be0af0;

}

#five-topic-click a:hover {
    border-bottom: 1px solid #fafafa;
}


.btn-high-five {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    -ms-transform: translate(-50%, -40%);
    background-color: #333333;
    color: #29e014;
    font-size: 100%;
    text-transform: uppercase;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
}


.btn-high-five:hover {
    background-color: #e10a0a;

    color: #fafafa;
}


/* Three info parts */

#part-1 {
    background-image: url("../img/fungym-part-1.png");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 53%;
    width: 90%;
    overflow: hidden;
    padding-left: 30px;
    margin-left: 30px;

}

#part-1 div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 50%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#part-1 h2 {
    color: #fafafa;
}

#part-2 {
    background-image: url("../img/fun-gym-part-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100%;
    width: 100%;
    overflow: hidden;

}

#part-2 div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#part-2 h2 {
    color: #fafafa;
}


#part-3 div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 50%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    position: relative;
}

#part-3 h2 {
    color: #fafafa;
}



#map {
    background-image: url("../img/fungym-map.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100%;
    width: 100%;
    overflow: hidden;

}

#map {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 250px;
    float: right;
    padding: 30px 0 0 30px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}


#map-1 {
    color: #252525;
    float: right;
    padding-right: 32%;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 12%;
}


/* Footer */

footer {
    height: 450px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.social-media-links {
    text-align: center;

}

.social-media-links li {
    display: inline;
}

.social-media-links i {
    font-size: 160%;
    margin: 2%;
    padding: 5%;
    color: #fafafa;
}

.social-media-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #1328e0;
    background: #e1be0af0;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-media-links li a i:hover {
    background: #e10a0a;

}

/* copy rights and the country-flag */


h5 {
    height: 150px;
    width: 100%;
    background: url("../img/uk-flag.png") no-repeat;
    overflow: hidden;
}

.copy-rights {

    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-left: 30px;
    color: #fafafa;
    font-weight: 400;
    font-size: 14px;
    margin-top: 6px;
    line-height: 35px;
    position: relative;
    float: left;

}

#fungym-copyights-col {

    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #e10a0a;
    font-weight: 400;
    font-size: 14px;
    margin-top: 6px;
    line-height: 35px;
    position: absolute;
    left: 10%;
    width: 600px;
    height: 170px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 50px;
    left: 60%;
    top: 70%;
    right: 100px;
    top: 60%;
    position: absolute;

}

#flag {
    position: absolute;
    top: 70%;
    left: 48%;
    transform: translate(-50%, -70%);
    -ms-transform: translate(-30%, -50%);
    margin-right: 50px;
    margin-left: 10%;
    padding-left: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}


/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #part-1 div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
        border-style: solid;
        border-bottom-width: 1px;


    }

    #part-2 div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    #part-3 div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    #map {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #icon-bar {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0px;
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px 0 20px;
    }


}

/* Form */

.form-section {
    clear: left;
    background: url();
    background-size: cover;
    background-position: center;
    height: 300px;
}

.signup-form {
    margin-top: 150px;
    margin-bottom: 150px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    padding: 30px;
    float: right;
    margin-right: 40%;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}